<div class="row">
  <div class="section full-width no-pad-bot z-depth-2">
    <div class="row">
      <div class="col s12 m6">
        <div class="card white ">
          <div class="card-section blue-grey darken-2 z-depth-2">
            <span class="card-title white-text">&bull; Login &bull;</span>
          </div>
          <div class="card-content">

            <!-- ======================1.2: Login Form============================ -->
            <div class="row">
              <form class="container">
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">account_box</i>
                    {{input name="userEmail" type="email" class="validate" value=userEmail change=(action 'checkForLoginEmail')}}
                    <label for="signin_email" data-error="Please Input a valid Email ID" data-success="right">Email</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    {{input name="userPassword" type="password" class="validate" value=userPassword change=(action 'fetchLoginPassword')}}
                    <label for="signin_password">Password</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card-action right-align grey lighten-1">
            <button {{action "checkLogin" userLoginObject}} class="btn waves-effect waves-light deep orange" type="submit" name="action">Login
                <i class="material-icons right">send</i>
              </button>
          </div>
        </div>
      </div>

      <!-- =========================SignUp Form================================ -->

      <div class="col s12 m6">
        <div class="card white ">
          <div class="card-section blue-grey darken-2 z-depth-2">
            <span class="card-title white-text">&bull; Sign Up &bull;</span>
          </div>
          <div class="card-content">
            <div class="row">
              <form class="container">
                <div class="row">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">navigate_next</i>
                    {{input name="firstName" type="text" class="validate" value=firstName change=(action 'checkForFirstName')}}
                    <label for="first_name">First Name</label>
                  </div>
                  <div class="input-field col s6">
                    <i class="material-icons prefix">navigate_next</i>
                    {{input name="lastName" type="text" class="validate" value=lastName change=(action 'checkForLastName')}}
                    <label for="last_name">Last Name</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">mail</i>
                    {{input name="userEmail" type="email" class="validate" value=userEmail change=(action 'checkForSignUpEmail')}}
                    <label for="email" data-error="Please Input a valid Email ID" data-success="right">Email</label>
                  </div>
                </div>

                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">https</i>
                    {{input name="userPassword" type="password" class="validate" value=userPassword change=(action 'fetchSignUpPassword')}}
                    <label for="password">Password</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="card-action right-align grey lighten-1">
            <button {{action "signUpUser" userSignUpObject}} class="btn waves-effect waves-light deep orange" type="submit" name="action">SignUp
                <i class="material-icons right">person_add</i>
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
