{{more-options}}
{{model.firstName}}
{{model.lastName}}
{{model.userEmail}}
{{#each model.friends as |onrFriend|}}
{{onrFriend.emailId}}
{{/each}}

<div class="container">
  <div class="row">
      <div class="col s12 no-pad_c">
        <ul class="tabs tabs-fixed-width">
          <li class="tab col s3"><a class="active" href="#tab_friends">Friends</a></li>
          <li class="tab col s3"><a  href="#tab_groups">Groups</a></li>
          <li class="tab col s3"><a href="#tab_activity">Activity</a></li>
        </ul>
      </div>
      <!-- =====================Content: TAB Friends============================== -->
      <div id="tab_friends" class="col s12">
        <ul class="collapsible" data-collapsible="accordion">
        {{#each model.friends as |onrFriend|}}
            <li>
                <div class="collapsible-header">
              <ul class="collection">
                <li class="collection-item avatar">
                <i class="material-icons circle red">person</i>
                <span class="title">{{onrFriend.name}}</span>
                <p class="caption red-text">
                   You Owe: ${{onrFriend.balance}}
                </p>
                <p class="caption green-text">
                   He Owe: ${{onrFriend.balance}}
                </p>
                <a href="#!" class="secondary-content">Settle Up</a>
              </li>
              </ul>
            </div>
              </li>
        {{/each}}
          
        </ul>
      </div>


      <!-- =====================Content: TAB Groups============================== -->
      <div id="tab_groups" class="col s12">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header">
              <ul class="collection">
                <li class="collection-item avatar">
                <i class="material-icons circle red">people</i>
                <span class="title">Group 1</span>
                <p class="caption">
                   Owes You
                </p>
                <a href="#!" class="secondary-content"> Settle Up</a>
              </li>
              </ul>
            </div>
            <div class="collapsible-body">
              <ul class="collection">
                <li class="collection-item avatar">
                <i class="material-icons circle black">directions_car</i>
                <span class="title">Uber</span>
                <p class="caption">
                   Travel
                </p>
                <a href="#!" class="secondary-content">Settled Up</a>
              </li>
              </ul>
              <ul class="collection">
                <li class="collection-item avatar">
                <i class="material-icons circle red">store_mall_directory</i>
                <span class="title">Target Shopping</span>
                <p class="caption">
                   Groceries
                </p>
                <a href="#!" class="secondary-content">Settled Up</a>
              </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">
              <ul class="collection">
                <li class="collection-item avatar">
                <i class="material-icons circle red">people</i>
                <span class="title">Group 2</span>
                <p class="caption">
                   You Owe
                </p>
                <a href="#!" class="secondary-content">Settle Up</a>
              </li>
              </ul>
            </div>
            <div class="collapsible-body">

            </div>
          </li>
          <li>
            <div class="collapsible-header">
              <ul class="collection">
                <li class="collection-item avatar">
                <i class="material-icons circle red">people</i>
                <span class="title">Group 3</span>
                <p class="caption">
                   Settled
                </p>
                <a href="#!" class="secondary-content">Settled</a>
              </li>
              </ul>
            </div>
            <div class="collapsible-body">

            </div>
          </li>
        </ul>
      </div>


      <!-- =====================Content: TAB Activity============================== -->
      <div id="tab_activity" class="col s12">
        <ul class="collection">
       <li class="collection-item">
         <i class="material-icons circle">local_drink</i>
         <b>You</b> Added <b>"Drink"</b>
         <p class="caption green-text"> You get back $4.38</p>
       </li>
       <li class="collection-item">
          <i class="material-icons circle">shopping_cart</i> <b>Dev</b> Added <b>"Groceries"</b>
          <p class="caption red-text"> You owe $0.38</p>
       </li>
       <li class="collection-item">
          <i class="material-icons circle">store</i> <b>Neha</b> Added <b>"Vegetables"</b> in <b>"Group 1"</b>
          <p class="caption red-text"> You owe $1.86</p>
       </li>
       <li class="collection-item">
          <i class="material-icons circle">directions_car</i> <b>Anjie</b> added <b>"Uber"</b> in <b>"Group 1"</b>
          <p class="caption grey-text"> Settled</p>
       </li>
     </ul>
      </div>
    </div>
  </div>
  
   <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="splitwise-app/js/init.js"></script>

  <script type="text/javascript">
  // MOBILE MENU TRIGGER
    $(".button-collapse").sideNav();
    // Modal Trigger
    $(document).ready(function() {
      $('.modal').modal();
    });
// Tab Trigger
    $(document).ready(function(){
    $('ul.tabs').tabs();
  });

// Select Menu Trigger
    $(document).ready(function() {
    $('select').material_select();
  });

// Chips Trigger
    $('.chips').material_chip();
    $('.chips-autocomplete').material_chip({
      autocompleteOptions: {
        data: {
          'User1': null,
          'User2': null,
          'User3': null
        },
        limit: Infinity,
        minLength: 1
      }
    });

// JQUERY
    $(document).ready(function() {
    var maxfields   = 10; //maximum input boxes allowed
    var wrapper       = $(".input_fields_wrap"); //Fields wrapper
    var add_button = $("#add_field_button"); //Add button ID
    var appendHTML = '<div class="row"><div class="input-field col s6"><i class="material-icons prefix">account_box</i><input id="add_pname" type="text" class="validate" ><label for="add_p">Name</label></div><div class="input-field col s6"><i class="material-icons prefix">mail</i><input id="add_pmail" type="email" min="1" class="validate"><label for="currency">Email</label></div><a href="#" class="remove_field">X</a></div>';

    var x = 1; //initlal text box count
    $(add_button).click(function(e){
        //on add input button click
        e.preventDefault();
        <!-- if(x < 10){
            x++; 
            $(wrapper).appen(appendHTML);
        } -->
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
  </script>
